// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    box-sizing: border-box;
}

// body {

// }

body {
    height: 100vh;
    overflow: hidden;
}

#sidebar {
    height: fit-content;
    overflow-y: auto;
    font-size: 12pt;
}
